
* {
  max-width: auto;
  max-height: 650px;
  margin: 0px;

}
body {
    background-image: url(./png/cloud.png);
    background-color: rgb(18, 2, 43);
    font-family: 'Caveat', cursive; 
    background-image: url(./svg/lighthouse.svg);
    /* background-size: 200px; */
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -60%;
}
.bg-clima {
  position: absolute;
  top: 150%;
  z-index: 1;
  width: 100%;
  

  
 
}
.move {
  animation: move 5s infinite;
  position: absolute;
  top: 80%;
  width: 50%;
  

}
@keyframes move {
  0% {
    transform: translateX(0px)
  }
  
  50% {
    transform: translateX(50px)
  }
  
  100% {
    transform: translateX(0px)
  }
}

p {
  margin: 2rem;
  mix-blend-mode: difference;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Divisão para ideias ludicas */
.open-eyes {
  color: antiquewhite;
  font-size: 2rem;
  position: absolute;
  display: block;
  animation: appear 5s;
  opacity: 0;
  animation: appear 2s forwards;
}

@keyframes appear {
  0% {
      transform: translateY(20px);
      opacity: 0;
  }
  100% {
      opacity: 4;
  }
}


.btn-eyes {
  cursor: pointer;
  background: none;
  color: antiquewhite;
  position: absolute;
  right: 120px;
  
}
.btn-flash {
  font-size: 2rem;
  align-items: center;
  transition: all .5s linear;
}
.btn-flash:hover {
  font-size: 2rem;
  color: rgb(227, 172, 20);
}

.material-symbols-outlined {
  outline: 20px;
}
  
/* Tentativa de sobrepor o texto á luz do farol */
.luz {
  background-image: url(./svg/light.svg);
  background-repeat: no-repeat;
  opacity: 1%;
}

/* Divisão destina aos textos */

.written {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.visivel {
  visibility: visible;
}

.wrapper {
  position: relative;
  max-width: 800px;
  width: 100%;
  display: none;
}

.box {
    color: antiquewhite;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    animation: appear 4s forwards;
  }
  
  @keyframes appear {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
  }

.link-citacao {
    text-decoration: none;
    color: rgb(248, 230, 207);
    font-weight: 900;
    cursor: pointer;
    transition: all .5s linear;
}
.link-citacao:hover {
    color: rgb(227, 172, 20);
}

.btn-lighthouse {
  width: auto;
  height: 60%;
  margin-top: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: all .1s linear;
  color: rgb(248, 230, 207);
  font-size: 1.5rem;
}

     


/* DIVISÃO DO LOOPING */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* NUVEM */

.fundo {
  background-image: url(./png/cloud.jpg);
  position: absolute;
  bottom: 0;
  width: 250.625em;
  height: 43.75em;
  animation: rotationLeft 80s linear infinite;
  z-index: -10;
}

@keyframes rotationLeft {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-50%,0,0);
  }

}



/* DIVISÃO PARA FOOTER */
.footer {
    text-align: center;
    padding-bottom: 10px;
    margin: 30px;
  }
  .fa-brands {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: rgb(228, 228, 16);
    border-radius: 50%;
    transition: all 0.2s linear;
    cursor: pointer;
    align-items: center;
  }
  .fa-brands:hover {
    color: #fcfbfa;
    /* font-size: 1.7rem; */
    border-color: #000;
  }

  /* responsividade */

  @media screen and (max-width: 768px) {
    .btn-lighthouse {
      display: none;
    }
    
  }